<div class="container-fluid">

<!--

start progress on todo - shows timer (auto save every 15mins?)

show status


-->

<!-- issue type
bug = <i class="fa fa-bug"></i>
task = <i class="fa fa-wrench"></i>
-->

<!-- priority
blocker = <i class="fa fa-ban"></i>
critical = <i class="fa fa-angle-double-up"></i>
major = <i class="fa fa-angle-up"></i>
minor = <i class="fa fa-angle-down"></i>
trivial = <i class="fa fa-angle-double-down"></i>
-->

  <!-- backllog list -->

  <!--
  Stats to track
  ==============

  Total time spent working

  Total bugs / Total Tasks

  bugs raised / compared to last week

  Tasks completed this week / compared to last week

  average time spent on Task

-->


  <div class="row">
      <div class="col-xs-12 col-sm-9">


        total bugs {{((todo = todos) | filter:{category: 'Bug'}).length}}
        total tasks {{((todo = todos) | filter:{category: 'Task'}).length}}
        total bugs raised this week {{((todo = todos) | filter:{category: 'Bug'} | isCurrent).length}}
         / last week {{((todo = todos) | filter:{category: 'Bug'} |  isAfter: moment().subtract(1, 'week')).length}}

         tasks completed this week {{((todo = todos) | filter:{done: true} | filter:{created: moment().weekday(1)}).length}}
          / last week {{((todo = todos) | filter:{done: true} | filter:{created: moment().weekday(-7)}).length}}

  <div class=" todos" ng-repeat="todo in todos | orderBy: ['status', 'category'] track by $index">


  <div class="row todo-item">
      <a ng-click="selectTodo(todo)" class="js-quickView">
        <div class="col-xs-3 col-md-2">
          <div class="row">
            <span ng-if="todo.category == 'Task'" class="col-xs-6 fa fa-code task" title="Task"></span>
            <span ng-if="todo.category == 'Bug'" class="col-xs-6 fa fa-bug warning" title="Bug"></span>

            <span ng-if="todo.status == 'Blocker'" class="col-xs-6 fa fa-ban warning" title="Blocker"></span>
            <span ng-if="todo.status == 'Critical'" class="col-xs-6 fa fa-angle-double-up warning" title="Critical"></span>
            <span ng-if="todo.status == 'Major'" class="col-xs-6 fa fa-angle-up major" title="Major"></span>
            <span ng-if="todo.status == 'Minor'" class="col-xs-6 fa fa-angle-down minor" title="Minor"></span>
            <span ng-if="todo.status == 'Trivial'" class="col-xs-6 fa fa-angle-double-down minor" title="Trivial"></span>
    <!--    {{todo.category}} {{todo.status}} -->
          </div>
        </div>
        <div class="col-xs-7 col-md-9">
          <a href="/#/todo/{{todo._id}}" class="todo-title">{{todo.title}}</a>
        </div>

            <div class="col-xs-2 col-md-1 text-center">
   {{todo.estimation}}
            </div>
        </a>
    </div>
  </div>


  </div>
  <div class="col-sm-3 hidden-xs">
    <div class="row">
        <div class="sideBar">
          <div class="col-xs-12">
            {{selectedTodo.title}}

          <table>
            <tr>
                <td>Estimate:</td>
                <td>{{selectedTodo.estimation}}</td>
            </tr>
            <tr>
                <td><p>Actual:</p></td>
                <td><p>{{selectedTodo.timeSpent}}</p></td>
            </tr>
          </table>

                <h3>Details</h3>

                <table>
                  <tr>
                      <td>  Status:</td>
                      <td>{{selectedTodo.status}}</td>
                  </tr>
                  <tr>
                      <td><p>Type:</p></td>
                      <td><p>{{selectedTodo.category}}</p></td>
                  </tr>
                </table>


               <h3>Dates</h3>

               <table>
                 <tr>
                     <td>  Created:</td>
                     <td>{{selectedTodo.created | date:"dd/MM/yyyy" }}</td>
                 </tr>
                 <tr>
                     <td><p>Update:</p></td>
                     <td><p>{{selectedTodo.created | date:"dd/MM/yyyy" }}</p></td>
                 </tr>
               </table>




       <h3>description</h3>
              {{selectedTodo.description}}


   <h3>Sub Tasks</h3>


      </div>
  </div>
</div>

</div>

</div>

 
<div id="js-add-modal" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add a todo</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="tbTitle">Title</label>
                <input id="tbTitle" class="form-control" type="text" ng-model="newTodo.title" placeholder="Title" />
              </div>
            </div>
              <div class="form-group">
                        <div class="form-group">
            <div class="col-xs-12">
              <label for="tbDescription">Description</label>
              <textarea id="tbDescription" class="form-control" rows="5" ng-model="newTodo.description" placeholder="Description" />
            </div>
          </div>
            </div>
        </div>
        <br />
  <div class="row">
        <div class="form-group">
      <div class="col-xs-6">
        <label for="tbDescription">Category</label>
      <select  ng-model="newTodo.category" class="form-control" >
        <option value="Task">Task</option>
        <option value="Bug">Bug</option>
      </select>
    </div>

    <div class="col-xs-6">
      <label for="tbDescription">Status</label>
      <select  ng-model="newTodo.status" class="form-control">
        <option value="Blocker">Blocker</option>
        <option value="Critical">Critical</option>
        <option value="Major">Major</option>
        <option value="Minor">Minor</option>
        <option value="Trivial">Trivial</option>
      </select>
    </div>
  </div>
</div>
      <br />
  <div class="row">
<div class="col-xs-12">
  <label for="tbDescription">Estimation</label>
      <input type="text" ng-model="newTodo.estimation" placeholder="Estimation eg: 1W 3d 6h" class="form-control" />
    <!--  <p>If you don't specify a time unit, minutes will be assumed</p> -->
</div>
  </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary"  ng-click="addTodo()">Add Todo</button>
       <a href="javascript:void(0)" ng-click="addTodo()">Add todo</a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
