/*
Background: 263238
Sidebar / Header : 242e32
border: 2e3940

primary - 6ecbbc
*/

body {background-color: #263238; color:#ccc;}

.navbar {margin:0}

.navbar-default {background: #242e32; border-bottom:2px solid #2e3940;}


.tableLayout { display: table;}
.tableLayout--cell { display: table-cell; width: 100%;}
/*Add ToDo*/

.add-todo {
    display: inline-block !important;
    padding: 10px 20px !important;
    background: #6ECBBC none repeat scroll 0% 0%;
    color: #fff !important;
    margin-top: 4px;
}

.add-todo:hover {
  background: #63b5a8!important;
  color: #fff !important;
}

.todos {
    border-bottom: 1px solid #2e3940;
}


.todo-item {padding: 5px 0;}


@media (max-width:768px) and (orientation:portrait)
  {


.todo-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    display: inline-block;
}
}

@media (max-width:768px) and (orientation:landscape)
  {


.todo-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
    display: inline-block;
}
}
/* sidebar:;  */

.sideBar { position: fixed; height: 100%; width:100%  background: #242e32; border-left: 1px solid #2e3940;}


/* status colors */

.warning {color:#D91E18;}
.major {color:#F7CA18;}
.minor {color: #3FC380;}
.task {color:#ECECEC;}

.todo-status {text-align: center;}
  .todo-status span {font-size:16px; padding:0 10px;}


  .modal-content {background: #263238; border-radius: 0;}
.modal-header {border-bottom:1px solid #2e3940;}
.modal-footer {border-top:1px solid #2e3940;}

/* forms */

.form-control {
  background-color: #242e32;
    border: 1px solid #242e32;
    border-radius:0;
    color:#ecf0f1;
}
