
<div class="container">

  <div class="row">
    <div class="col-xs-8">
    {{todos.title}}
      <a href="javascript:void(0)" class="btn btn-success"  ng-click="startTask()">Start Task</a>
        <a href="javascript:void(0)" class="btn btn-warning"  ng-click="pauseTask()">Pause Task</a>



      <span class="countdown"></span>
  </div>
<div class="col-xs-4">

  <span>{{todos.estimation}}</span>

    </div>
  </div>

    <div class="row">
        <div class="col-xs-12">
          Subtasks
        </div>
    </div>
</div>



<!--
{{todos.description}}
{{todos.timeSpent}}
{{todos.created}}
{{todos.done}}
{{todos.progress}}
{{todos.backlog}}
{{todos.status}}
{{todos.category}}
-->
